.wrapper {
  padding: 20px 40px;
  display: flex;
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  align-items: center;
  background-color: #f2efef;
  box-shadow: 0 0 6px 4px rgb(224, 223, 223);
  .title {
    width: 50%;
    font-size: clamp(20px, 2rem, 30px);
    font-weight: bold;
  }
  .inner {
    display: flex;
    gap: 30px;
    .currency {
      display: flex;
      align-items: center;
      font-size: clamp(14px, 1.3rem, 20px);
      font-weight: bold;
      line-height: 20px;
      height: 20px;
      p {
        margin-left: 10px;
        font-size: clamp(14px, 1.3rem, 20px);
        font-weight: normal;
      }
    }
  }
}

@media (max-width: 800px) {
  .wrapper {
    justify-content: space-between;
    .inner{
      gap: 20px;
    }
    .title {
      width: 45%;
    }
  }
}
@media (max-width: 600px) {
  .wrapper {
    flex-direction: column;
    gap: 20px;
    .inner{
      gap: 20px;
    }
    .title {
      width: 100%;
      text-align: center;
    }
  }
}
