.container{
    padding-top: 150px;
    height: 100vh;
    background-color: rgb(237, 246, 244);
    .title{
        font-size: 20px;
        font-weight: normal;
        text-align: center;
        margin-bottom: 50px;
    }
    .wrapper{    
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        .uil-exchange{
            font-size: 25px;
        }
        .currency-group{
            display: flex;
            justify-content: center;
            gap: 10px;
            input, select{
                padding: 20px;
                width: 150px;
                border-radius: 5px;
                border: 1px solid gray;
                font-size: clamp(12px, 1.1rem, 16px);
                outline: none;
                &::placeholder{
                    font-size: clamp(12px, 1.1rem, 16px);
                }
                &:focus{
                    border-color: rgb(0, 187, 255);
                }
            }
            select{
                width: 100px;
            }
        }
    }
}

@media (max-width: 700px){
    .container{
        .wrapper{
            gap: 20px;
            .uil-exchange{
                font-size: 20px;
            }
            .currency-group{
                input{
                    padding: 15px;
                    width: 120px;
                }
                select{
                    width: 75px;
                    padding: 15px 10px;
                }
            }
        }
    }
}

@media (max-width: 500px){
    .container{
        .wrapper{
            flex-direction: column;
        }
    }
}