<div class="container">
  <h2 class="title">Choose currency and write count</h2>
  <form class="wrapper" [formGroup]="form" >
      <div class="currency-group">
        <app-custom-input formControlName="countFirst" (input)="changeCount()"></app-custom-input>
        <app-custom-select  formControlName="currencyFirst" (click)="changeCount()"></app-custom-select>
      </div>
      <i class="uil uil-exchange"></i>
      <div class="currency-group">
        <app-custom-input formControlName="countSecond" (input)="changeCount()"></app-custom-input>
        <app-custom-select  formControlName="currencySecond" (click)="changeCount()"></app-custom-select>
      </div>
  </form>
</div>
